.font {
    font-family: "Mulish", sans-serif;

}
.text-gradient {
    background: linear-gradient(to right, #00bcd4, #2196f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}
.custom-line-height {
    line-height: 1.5;
}

.custom-margin {
    margin-inline-end: 22rem;
}
